body {
    margin: 0;
    padding: 0;
    font-family: Arial;
    background: #f4f4f4;
}

.container {
    width: 90%;
    margin: auto;
    max-width: 1000px;
    padding: 20px;
}

input, button {
    padding: 10px;
    width: 100%;
    margin-bottom: 10px;
}

.flat-card {
    background: white;
    padding: 15px;
    margin: 10px 0;
    border-radius: 6px;
}
