body {
    margin: 0;
    padding: 0;
    font-family: Arial;
    background: #00687a;
    overflow-x: hidden;
}

.my-line {
  border: none;
  height: 1px; 
  background-color: #3b3b3b; 
  margin: 0; 
  width: 100%; 
}

.container {
    width: 90%;
    margin: auto;
    max-width: 1000px;
    padding: 20px;
}
.container2 {
    width: 90%;
    margin: auto;
    max-width: 1000px;
    padding: 20px;
    display: grid;
    place-items: center;
}

.container2 form {
    margin: auto;
    width: 70%;
    display: grid;  
    place-items: center;   
}

.container2 form input,
.container2 form select {
    width: 100%;
}

.container2 input {
    padding: 10px;
    margin-bottom: 10px;
    color: white;
    background-color: #ffffff1f;
    border-style: none;
    border-radius: 7px;
    border: solid 2px white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container2 input::placeholder{
    color: #f4f4f4;
    font-family: 'Comfortaa', sans-serif;
    font-weight: 400;
}

.container2 select {
    padding: 12px;
    margin-bottom: 10px;
    display: inline-block;
    border: solid 2px white;
    background-color: #ffffff1f;
    border-radius: 7px;
    box-sizing: border-box;
    color: #f4f4f4;
    font-family: 'Comfortaa', sans-serif;
    font-weight: 400;

    outline: none;
    cursor: pointer;

     /* remove default arrow */
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

select option[value="#"] {
    color: #cccccc;
}
select option[value="renter"] {
    color: #00687a;
}
select option[value="landlord"] {
    color: #00687a;
}

.container2 .account {
    padding: 10px;
    width: 50%;
    margin-bottom: 10px;
    color: white;
    background-color: #00687a7b;
    border-style: none;
    border-radius: 7px;
    border: solid 2px #00687a;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
}
.container2 .account:hover{
    background-color: rgba(255, 255, 255, 0.6);
    color: #00687a;
    transition: 0.3s;
}

.flat-list{
    width: 100%;
    padding: 0 8%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 10px;
    justify-items: flex-start;
}

.flat-list .flat-card {
    justify-self: start;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    border: 2px solid #00687a;
    padding: 18px;
    transition: 0.3s;
    text-align: center;
}
.flat-list .flat-card:hover{
    background-color: rgba(255, 255, 255, 0.6);
}
h3{
    color: #00687a;
    font-family: "Josefin Slab", serif;
    font-weight: 900;
    font-size: 25px;
}
.card_btn{
    width: 70%;
    padding: 8px;
    outline: none;
    cursor: pointer;
    background-color: #00687a7a;
    border-radius: 2px;
    border: solid 2px #00687a;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 18px;
}
.card_btn:hover{
    background-color: rgba(255, 255, 255, 0.6);
    color: #00687a;
}

/* ----------------------------------- */ 

.container h1{
    font-family: "Jockey One", sans-serif;
    color: #00687a;
    font-size: 80px;
    padding: 0;
    margin-bottom: 0;
    text-shadow: 2px 2px #bebebe;
}

.container h2{
    font-family: "Barriecito", system-ui;
    font-size: 20px;
    padding: 0;
    margin-top: 0;
    margin-bottom: 30px;
    letter-spacing: 10px;
    color: black;
    text-shadow: 1px 1px #bebebe;
}

.container p{
    font-family: 'Comfortaa', sans-serif;
    font-size: 14px;
    color: black;
}

.container a{
    display: inline-block;
    color: white;
    background-color: #00687a7a;
    margin: 40px;
    padding: 40px;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    border-radius: 8px;
    border: solid 2px #00687a;
    box-shadow: 0 4px 12px rgba(0,0,0,0.06);
}
.container a:hover{
    transform: translateY(-5px);
    box-shadow: 0 4px 12px rgb(0, 0, 0);
    transition: 0.5s;
}
.container2 .btn-align {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dash_btn {
    color: white;
    background-color: #00687a7a;
    margin: 20px 0;
    padding: 14px;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    font-size: 17px;
    border-radius: 8px;
    border: 2px solid #00687a;
    box-shadow: 0 4px 12px rgba(0,0,0,0.06);
    width: 100%;
    text-align: center;
}
.dash_btn:hover{
    transform: translateY(-5px);
    box-shadow: 0 4px 12px rgb(0, 0, 0);
    transition: 0.5s;
}

.container2 h1{
    font-family: "Jockey One", sans-serif;
    color: #00687a;
    font-size: 80px;
    padding: 0;
    margin-bottom: 0;
    text-shadow: 2px 2px #bebebe;
}

.container2 h2{
    font-family: "Barriecito", system-ui;
    font-size: 20px;
    padding: 0;
    margin-top: 0;
    margin-bottom: 30px;
    letter-spacing: 10px;
    color: black;
    text-shadow: 1px 1px #bebebe;
}

.container2 p{
    font-family: 'Comfortaa', sans-serif;
    font-size: 14px;
    color: black;
}
.container2 a{
    font-family: 'Comfortaa', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: white;
    text-decoration: none;
}
.container2 a:hover{
    color: cyan;
    text-decoration: underline;
}

header {
    width: 100%;
    padding: 10px 1%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #00687a7a; 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.6);
}

.logo-slot{
    display: inline-flex;
    width: 40%;
    justify-content: start;
    align-items: center;
    justify-items: start;
    align-content: center;
    padding: 0;

}
.logo-slot img {
    height: 60px;
    padding-right: 10px;
}
.logo-slot p{
    font-family: "Special Gothic Expanded One", sans-serif;
    font-weight: 400;
    color: white;
    font-size: 20px;
    padding: 0;
}

nav{
    width: 50%;
    margin-left: 2%;

    display: block;
    
    align-items: center;
    justify-items: end;
    align-content: center;

    justify-content: space-evenly;
}
nav a {
    margin-left: 11px;
    margin-right: 11px;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 22px;
    color: white;
    transition: 0.8s;
}

nav a:hover {
    color: black;
    
}

.btn-highlight {
    padding: 7px 14px;
    background: #98e5f3;
    border-radius: 3px;
    color: #00687a !important;
    box-shadow: 0 4px 12px rgba(0,0,0,0.06);
}

.btn-highlight:hover{
    background: aliceblue;
    text-decoration: none;
}

.logout{
    border-style: none;
    text-decoration: none;
    border: none;
    background: none;
    color: white;
    font-size: 25px;
}
.logout:hover{
    color: black;
}

.inline_selection{
    margin-top: 10px;
    justify-content: center;
    width: 100%;
}

.inline_selection select {
    padding: 12px;
    margin-bottom: 10px;
    display: inline-block;
    border: solid 2px white;
    background-color: #ffffff1f;
    border-radius: 7px;
    box-sizing: border-box;
    color: #f4f4f4;
    font-family: 'Comfortaa', sans-serif;
    font-weight: 400;

    outline: none;
    cursor: pointer;

     /* remove default arrow */
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

select option[value="#"] {
    color: #cccccc;
}
select option {
    color: #00687a;
}

footer {
    margin-top: 60px;
    padding: 14px;
    text-align: center;
    background: #00687a;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    font-weight: 700;
}